services:
  eureka-server:
    build: ./serv1
    ports:
      - "8761:8761"
    networks:
      - micro-network

  serv2:
    build: ./serv2
    ports:
      - "8082:8082"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server
    networks:
      - micro-network

  gateway:
    build: ./demo
    ports:
      - "8080:8080"
    environment:
      - EUREKA_CLIENT_SERVICEURL_DEFAULTZONE=http://eureka-server:8761/eureka/
    depends_on:
      - eureka-server
    networks:
      - micro-network

networks:
  micro-network:
    driver: bridge